
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Purpose Tech Inc.</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <nav class="navbar">
    <a href="/"><img class="brandimage"  src="/brand-image.png" alt="smoothie recipe icon"></a>
    <ul class="nav-menu">
      <% if (user) { %>
        <li><a class="text-gray-500 hover:text-gray-900" href="/products">Products</a></li>
        <li><a class="text-gray-500 hover:text-gray-900" href="/">About</a></li>
        <li><a class="text-gray-500 hover:text-gray-900" href="/logout">Log out</a></li>
      <% } else { %>
        <li><a class="text-gray-500 hover:text-gray-900" href="/login">Log in</a></li>
        <li><a class="text-gray-500 hover:text-gray-900" href="/signup" class="btn">Sign up</a></li>
      <% } %>
      <li><a class="text-gray-500 hover:text-gray-900" href="/contact">Contact</a></li>

    </ul>
    <div class="hamburger md:hidden">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>

    </div>
  </nav>

  <script>
    const hamburger = document.querySelector(".hamburger")
    const navMenu = document.querySelector(".nav-menu")
    const listItems = document.querySelectorAll('.nav-menu li a');
    const pname = window.location.pathname

    hamburger.addEventListener("click", () => {
      hamburger.classList.toggle("active")
      navMenu.classList.toggle("active")
    })

    
    for (let i = 0; i <= listItems.length - 1; i++) {
        if(pname == listItems[i].pathname){
          listItems[i].classList.add("active")
        }
    }

  </script>
  