
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <nav class="navbar">
    <!-- <h1><a href="/">Ninja Smoothies</a></h1> -->
    <a href="/"><img class="brandimage"  src="/brand-image.png" alt="smoothie recipe icon"></a>
    <ul class="nav-menu">
      <% if (user) { %>
        <li><a href="/products">Products</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/logout">Log out</a></li>
      <% } else { %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup" class="btn">Sign up</a></li>
      <% } %>
      <li><a href="/contact">Contact</a></li>

    </ul>
    <div class="hamburger md:hidden">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>

    </div>
  </nav>

  <script>
    const hamburger = document.querySelector(".hamburger")
    const navMenu = document.querySelector(".nav-menu")

    hamburger.addEventListener("click", () => {
      hamburger.classList.toggle("active")
      navMenu.classList.toggle("active")
    })

    document.querySelectorAll(".nav-link").forEach(n => n.addEventListener("click", () => {
      hamburger.classList.remove("active")
      navMenu.classList.remove("active")
    }))

  </script>
  