<%- include('partials/header'); -%>

<div
  class="bg-gray-200 h-screen overflow-hidden flex items-center justify-center"
>
  <div class="w-10/12 lg:w-9/12 xl:w-7/12 flex">
    <div
      class="w-full h-auto hidden lg:block lg:w-1/2 bg-cover rounded-lg lg:rounded-r-none"
      style="
        background-image: url('https://images.pexels.com/photos/33999/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
      "
    ></div>
    <div
      class="w-full lg:w-1/2 bg-white rounded-lg lg:rounded-l-none py-24 px-12"
    >
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Contact
      </h2>
      <div
        style="display: none"
        class="error-msg alert bg-yellow-100 rounded-lg py-5 px-6 mb-3 text-base text-yellow-700 items-center w-full alert-dismissible fade show"
        role="alert"
      >
        <strong class="mr-1">Holy guacamole! </strong> You should check in on
        some of those fields below.
      </div>

      <div
        style="display: none"
        class="success-msg bg-green-100 rounded-lg py-5 px-6 mb-3 text-base text-green-700 inline-flex items-center w-full"
        role="alert"
      >
        Well done! your message has been sent.
      </div>
      <form class="bg-white" action="/contact">
        <div class="mb-4">
          <label class="block mb-2 text-sm font-bold" for="name"> Name </label>
          <input
            type="text"
            id="name"
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="name"
          />
        </div>
        <div class="mb-4">
          <label class="block mb-2 text-sm font-bold" for="email">
            Email
          </label>
          <input
            type="text"
            id="email"
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="email"
          />
        </div>
        <div class="mb-4">
          <label class="block mb-2 text-sm font-bold" for="message">
            Type your message here
          </label>
          <textarea
            class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
            id="message"
            rows="3"
            placeholder="Your message"
          ></textarea>
          <!-- <textarea
            rows="3"
            id="message"
            class="appearance-none rounded-none block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="your message"
          >
          </textarea> -->
        </div>
        <!-- <div class="contact success"></div> -->
        <!-- <div class="contact error"></div> -->

        <div class="mb-4">
          <button
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector("form");
  // const contactSuccess = document.querySelector(".contact.success");
  // const contactError = document.querySelector(".contact.error");

  const errorMsg = document.querySelector(".error-msg");
  const successMsg = document.querySelector(".success-msg");

  // const contactError = document.querySelector(".contact.error");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    // reset errors
    // contactError.textContent = "";
    // contactSuccess.textContent = "";

    // get values
    const email = form.email.value;
    const name = form.name.value;
    const message = form.message.value;

    try {
      const res = await fetch("/contact", {
        method: "POST",
        body: JSON.stringify({ email, name, message }),
        headers: { "Content-Type": "application/json" },
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        errorMsg.style.display = "block";
        // contactError.textContent = "Try Again";
        setTimeout(function () {
          errorMsg.style.display = "none";

          // contactError.textContent = "";
        }, 3000);
      }
      if (data.user) {
        // location.assign("/");
        form.reset();
        successMsg.style.display = "block";

        // contactSuccess.textContent = "Message Sent";
        setTimeout(function () {
          successMsg.style.display = "none";

          // contactSuccess.textContent = "";
        }, 3000);
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>
