<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/product-placeholder.jpeg" alt="smoothie recipe icon">
    <h4>Rating Engine</h4>
    <p>Explore the key areas of this solution.</p>
  </li>
  <li class="recipe">
    <img src="/product-placeholder.jpeg" alt="smoothie recipe icon">
    <h4>Quoting</h4>
    <p>Lets talk with us or request a custom quote</p>
  </li>
  <li class="recipe">
    <img src="/product-placeholder.jpeg" alt="smoothie recipe icon">
    <h4>Product 3</h4>
    <p>This is product three.</p>
  </li>
</ul>

<%- include('partials/footer'); -%>